@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Itim&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #ff99cc, #ffffff);
    text-align: center;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    width: 90%;
}

h1 {
    font-size: 3em;
    color: #ff3366;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px #fff;
    font-family: "Itim", serif;
}

.anniversary-image {
    width: 100%;
    max-width: 400px; /* จำกัดความกว้างสูงสุด */
    height: auto; /* ปรับความสูงตามสัดส่วนเดิม */
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
}

.anniversary-image:hover {
    transform: scale(1.05);
}

.input-container {
    margin-top: 20px;
}

input[type="date"] {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #ff3366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 250px;
    width: 100%;
    margin-top: 5px;
}

button:hover {
    background-color: #ff6688;
}

/* Media Query สำหรับมือถือ */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .anniversary-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}

/* Media Query สำหรับ iPad (แนวนอน) */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 80%;
    }

    h1 {
        font-size: 2.5em;
    }

    .anniversary-image {
        max-width: 350px;
    }
}